{% load humanize %}
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr><th>Nama Produk</th><th>Kode</th><th>Kategori</th><th>Harga Jual</th><th>Aksi</th></tr>
        </thead>
        <tbody>
            {% for produk_item in produks %}
            <tr>
                <td>{{ produk_item.nama_produk }}</td>
                <td>{{ produk_item.kode_produk }}</td>
                <td>{{ produk_item.kategori.nama }}</td>
                <td>Rp {{ produk_item.harga_jual_standar|intcomma }}</td>
                <td>
                    <a href="{% url 'inventory:produk_update' pk=produk_item.pk %}" class="btn btn-sm btn-warning">Edit</a>
                    <a href="{% url 'inventory:produk_delete' pk=produk_item.pk %}" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
            {% empty %}
            <tr><td colspan="5" class="text-center">Belum ada produk di katalog.</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>