{% extends "base.html" %}

{% block title %}
{{ title|default:"Form Produk" }} - {{ block.super }}
{% endblock %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">{{ title|default:"Form Produk" }}</h1>
</div>

<div class="card">
    <div class="card-body">
        <form method="post">
            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit" class="btn btn-primary">Simpan</button>
            <a href="{% url 'inventory:inventory_dashboard' %}" class="btn btn-secondary">Batal</a>
        </form>
    </div>
</div>
{% endblock %}