{% extends "base.html" %}

{% block title %}
Tambah Customer - {{ block.super }}
{% endblock %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Tambah Customer Baru</h1>
</div>

<div class="card">
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            
            <div class="mb-3">
                <label class="form-label">{{ form.nama.label }}</label>
                {{ form.nama }}
            </div>
            <div class="mb-3">
                <label class="form-label">{{ form.no_wa.label }}</label>
                {{ form.no_wa }}
            </div>

            <button type="submit" class="btn btn-primary">Simpan</button>
            <a href="{% url 'users:user_management' %}" class="btn btn-secondary">Batal</a>
        </form>
    </div>
</div>
{% endblock %}