{% extends "base.html" %}

{% block title %}Manajemen Sistem - {{ block.super }}{% endblock %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Manajemen Sistem</h1>
</div>

<ul class="nav nav-tabs" id="managementTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="customer-tab" data-bs-toggle="tab" data-bs-target="#customer-tab-pane" type="button" role="tab">Customer (Non-Login)</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="user-tab" data-bs-toggle="tab" data-bs-target="#user-tab-pane" type="button" role="tab">Akun Login (Staff/Montir)</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="log-tab" data-bs-toggle="tab" data-bs-target="#log-tab-pane" type="button" role="tab">Log Aktivitas</button>
    </li>
</ul>

<div class="tab-content" id="managementTabContent">
    <div class="tab-pane fade show active" id="customer-tab-pane" role="tabpanel" tabindex="0">
        <div class="card rounded-0 rounded-bottom">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Daftar Customer</h5>
                <a href="{% url 'users:customer_create' %}" class="btn btn-sm btn-outline-primary">+ Tambah Customer</a>
            </div>
            <div class="card-body">
                {% include 'users/partials/_customer_table.html' %}
            </div>
        </div>
    </div>
    
    <div class="tab-pane fade" id="user-tab-pane" role="tabpanel" tabindex="0">
        <div class="card rounded-0 rounded-bottom">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Daftar Akun Login</h5>
                <a href="{% url 'users:user_create' %}" class="btn btn-sm btn-outline-secondary">+ Tambah Akun Login</a>
            </div>
            <div class="card-body">
                {% include 'users/partials/_user_table.html' %}
            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="log-tab-pane" role="tabpanel" tabindex="0">
        <div class="card rounded-0 rounded-bottom">
            <div class="card-header"><h5 class="mb-0">Log Aktivitas Terbaru</h5></div>
            <div class="card-body">
                {% include 'users/partials/_log_table.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}